<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Data Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        function validateIdFormat() {
            var idInput = document.getElementById('id');
            var idValue = idInput.value;
            var idPattern = /^F-\d{4}$/;  // Regular expression for the format "F-1234"

            if (!idPattern.test(idValue)) {
                alert('ID must be in the F-1234 format');
                idInput.focus();
                return false;
            }
            return true;
        }
    </script>

</head>
<body>
    <h1>Create New Forklift Entry</h1>
    <form method="POST" onsubmit="return validateIdFormat()">
        <label for="id">ID:</label>
        <input type="text" id="id" name="id" required>
        <br>

        <label for="lastUserId">Last User ID:</label>
        <input type="text" id="lastUserId" name="lastUserId" required>
        <br>

        <label for="userType">User Type:</label>
        <select id="userType" name="userType" required>
            <option value="0">Type 0</option> <!-- Adjust options as needed -->
            <option value="1">Type 1</option>
        </select>
        <br>

        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required>
        <br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required>
        <br>

        <label for="passcode">Passcode:</label>
        <input type="text" id="passcode" name="passcode" required>
        <br>

        <label for="forkliftCertified">Forklift Certified:</label>
        <select id="forkliftCertified" name="forkliftCertified" required>
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <br>

        <label for="incorrectPalletPlacements">Incorrect Pallet Placements:</label>
        <input type="number" id="incorrectPalletPlacements" name="incorrectPalletPlacements" required>
        <br>

        <label for="lastPalletId">Last Pallet ID:</label>
        <input type="text" id="lastPalletId" name="lastPalletId" required>
        <br>

        <label for="state">Pallet State:</label>
        <input type="number" id="state" name="state" required>
        <br>

        <label for="location">Pallet Location:</label>
        <input type="text" id="location" name="location" required>
        <br>

        <button type="submit">Create</button>
    </form>
    <a href="{{ url_for('index') }}">Back to List</a>

    <!-- Include your validation.js script -->
    <script src="{{ url_for('static', filename='js/validation.js') }}"></script>
</body>
</html>