<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Edit Shelf</title>
</head>
<body>
    <h1>Edit Shelf</h1>
    <form action="/editShelf/{{ shelf.id }}" method="POST">
        <label for="palletId">Pallet ID:</label>
        <input type="text" id="id" name="id" value="{{ shelf.id }}" readonly>
        <br>

        <input type="text" id="palletId" name="palletId" value="{{ shelf.palletId }}">
        <br>
        
        <label for="location">Location:</label>
        <input type="text" id="location" name="location" value="{{ shelf.location }}" required>
        <br>
        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
