<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Data Entry</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Edit Forklift Data Entry</h1>
    <form method="POST">
        <input type="hidden" name="_method" value="PUT">  <!-- This is for using PUT in Flask -->

        <label for="id">ID:</label>
        <input type="text" id="id" name="id" value="{{ data.id }}" required>

        <button type="submit">Update</button>
    </form>
    <a href="{{ url_for('forklifts') }}">Back to List</a>
</body>
</html>
