<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forklifts and Pallets Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add some CSS for styling here -->
</head>
<html>
    <a href="/">HomePage</a>
<form action="/forklifts" method="get">
    <input type="text" name="search" placeholder="Enter search term">
    <button type="submit">Search</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last User ID</th>
            <th>Last User</th>
            <th>Last Pallet</th>
        </tr>
    </thead>
    <tbody>
        {% for forklift in forklifts %}
        <tr>
            <td>{{ forklift.id }}</td>
            <td>{{ forklift.lastUserId }}</td>
            <td>{{ forklift.lastUser }}</td>
            <td>{{ forklift.lastPallet }}</td>
        </tr>
        {% endfor %}
    </tbody>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</table>
</html>