<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forklifts and Pallets Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add some CSS for styling here -->
</head>
<html>
<h1>Forklift Information</h1>
<a class="btn" href="/">HomePage</a>
<a class="btn_create" href="/createForklift">Create Forklift</a>
<a class="btn" href="/pallets">Pallet Page</a>
<h3>Forklifts Information</h3>
<form action="/forklifts" method="get">
    <input type="text" name="search" placeholder="Enter search term">
    <button type="submit">Search</button>
</form>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last User ID</th>
            <th>Last User</th>
            <th>Last Pallet</th>
            <th>Actions</th>  <!-- Add a new column for actions -->
        </tr>
    </thead>
    <tbody>
        {% for forklift in forklifts %}
        <tr>
            <td>{{ forklift.id }}</td>
            <td>{{ forklift.lastUserId }}</td>
            <td>{{ forklift.lastUser }}</td>
            <td>{{ forklift.lastPallet }}</td>
            <td>
                <a href="{{ url_for('edit', id=forklift.id) }}">Edit</a> | 
                <a href="{{ url_for('delete', id=forklift.id) }}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</table>
</html>