<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forklifts and Pallets Data</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Add some CSS for styling here -->
</head>
<body>
    <a href="/forklifts">Search Page</a>
    <h1>Forklifts Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Last User ID</th>
                <th>Last User</th>
                <th>Last Pallet</th>
            </tr>
        </thead>
        <tbody>
            {% for forklift in forklifts  %}
            <tr>
                <td>{{ forklift.id }}</td>
                <td>{{ forklift.lastUserId }}</td>
                <td>{{ forklift.lastUser }}</td>
                <td>{{ forklift.lastPallet }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <h1>Pallets Information</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>State</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for pallet in pallets %}
            <tr>
                <td>{{ pallet['id'] }}</td>
                <td>{{ pallet['state'] }}</td>
                <td>{{ pallet['location'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>