<!-- login.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/sb-admin-2.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/vendor/fontawesome-free/css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/sb-admin-2.min.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="icon" href="{{url_for('static', filename='bootstrap/img/PalletSync2Logo.jpg')}}" type="image/x-icon" />
</head>

<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            
                                <img class="col-lg-6 d-none d-lg-block bg-login-image" src="{{ url_for('video_feed') }}" />
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                    </div>
                                    <div id="faceDetectionStatus" class="text-center h4 mb-4">Checking face detection...</div>
                                    <form action="{{ url_for('login') }}" method="post" class="user">
                                        <div class="form-group">
                                            <input type="text" name="userId" class="form-control form-control-user" id="userId" aria-describedby="userID" placeholder="Enter UserID Please...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" id="passCode" name="passCode" placeholder="Password">
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <select id="requestFromAdmin" name="requestFromAdmin">
                                                    <option value="true">Yes</option>
                                                </select>
                                                <label for="requestFromAdmin">Request from Admin:</label>
                                            </div>
                                        </div>
                                        <input class="btn btn-primary btn-user btn-block" type="submit" value="Login">
                                    </form>
                                    {% if error %}
                                    <p>{{ error }}</p>
                                    {% endif %}
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Load jQuery from CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='bootstrap/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{url_for('static', filename='bootstrap/vendor/jquery-easing/jquery.easing.min.js')}}"></script>
    <script src="{{url_for('static', filename='bootstrap/js/sb-admin-2.min.js')}}"></script>
    <!-- Your custom script after jQuery is loaded -->
    <script>
      $(document).ready(function() {
    function fetchFaceDetectionStatus() {
        console.log("Fetching face detection status...");
        $.getJSON('/get_last_message', function(data) {
            console.log("Data received:", data);
            let message = "No face detected.";
            // Adjusted logic: Assuming face detection if 'userId' is present and not an empty string.
            if (data.userId && data.userId !== 'string') {
                message = "Face detected.";
            } else {
                message = "No face detected. Please ensure your face is visible to the camera.";
            }
            $("#faceDetectionStatus").text(message);
            console.log("Updated message on page:", message);
        }).fail(function(jqXHR, textStatus, errorThrown) {
            console.log("Request failed: " + textStatus + ", " + errorThrown);
        });
    }
    
    // Poll for the latest face detection status every 5 seconds
    setInterval(fetchFaceDetectionStatus, 5000);
});
    </script>
</body>
</html>
